# Ignore all PNG images in subfolders except those starting with "ev_"
sprites/**/*.png
!sprites/spr_ev_*/**/*.png

# Ignore all WAV files in subfolders except those starting with "ev_"
sounds/**/*.wav
!sounds/snd_ev_*/**/*.wav

# Ignore all images in the tilesets folder
tilesets/**/*.png

g3man/igor
g3man/out
g3man/user-config.ini
# Under no circumstance should you want a binary blob in your source tree.
# If your mod depends on other mods and you want them to be in g3man/base,
# each user must fetch those manually.
g3man/**/*.win
g3man/igor/hash.txt